<h1>Bio</h1>
<p>Hi I am Chris I am 27 and I live in Edinburgh. I am currently studing coding at Codeclan with the goal of becoming a developer.</p>
<p>In my spare time I play lacrosse for the Edinburgh Gentlemen. We play in the Scottish League from August to May. We also like to travel and have attended tournements in various countries.</p>